@import url('https://fonts.googleapis.com/css2?family=Bitter&family=PT+Sans:wght@700&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
body {
    font-family: 'Bitter', serif;
    font-size: 20px;
    background-color: #A69180;
    color: #261414;
}