<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="food__filter" th:fragment="food__filter">
    <div style="font-weight: 800" class="food__filter__label">Фильтровать по составу!</div>
    <form method="get" class="food__filter__form" th:action="@{/greeting}">
        <input type="text" name="filterTag" class="form-control mb-2 filter__form__input" th:value="${filterTag}">
        <button type="submit" style="background-color: #D9CBBF; border-color: #261414; border: 4px; border-radius: 5px;" class="filter__form__button">Filter</button>
    </form>
    <div th:if="${filterError}" class="food__filter__error">
        <span th:utext="${filterError}"></span>
    </div>
</div>

</body>
</html>