<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="login__window" th:fragment="login__fr">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="usern" class="form-label"> User Name : </label>
            <input type="text" id="usern" class="form-control" name="username"/>
        </div>
        <div class="mb-3">
            <label for="passw"> Password: </label>
            <input type="password" class="form-control" id="passw" name="password"/>
        </div>
        <div><input type="submit" value="Sign In"/></div>
</form>
</div>

</body>
</html>